@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 980px;
    margin: 0 auto;
    gap: 48px;
    font-size: 14px;
}

/* menu de navegação */

nav{
    padding: 10px 0px;
}

ul{
    list-style: none;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.nav-list li a{
    color: black;
    font-weight: 400;
}

.nav-list li a:hover{
    box-shadow: 0px 1px 0px black;
}

svg{
    display: block;
}

/* seção principal */

main{
    margin-bottom: 48px;
}

#product{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

#product-options{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* seção de preços */

p#price{
    font-size: 17px
}

#installments, #payment, .small-text{
    font-size: 12px;
}

.small-text{
    color: #6e6e73;
}

.color-a{
    color: #62798f;
}

/* seção de opções de cores */

#color-options{
    display: flex;
    gap: 15px;
    margin: 8px 0;
}

input[type="radio"]{ /*seleciona os inputs do tipo radio*/
    display: none;
}

#color-options input[type="radio"]:checked + label img{ /*quando o input do tipo radio estiver selecionado, estiliza a imagem do label que vem logo depois do input*/
    border: 2px solid #708eac;
    border-radius: 50%;
    padding: 1px;
}

#color-options label img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* Imagem selo carbono */ 

#carbon{
    display: flex;
    align-items: center;
    gap: 5px;

    /*aninhamento*/
    img { 
            width: 25px;
        }
}

#options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* opções de tamanho */

#box-size, #info, .buy-later{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#size-options{
    display: flex;
    gap: 10px;
}

#size-options label{
    border: 1px solid black;
    padding: 30px 50px;
    border-radius: 16px;
    font-size: 17.5px;
    font-weight: bold;
    cursor: pointer;
}

#size-options input[type="radio"]:checked + label{ 
    border: 2px solid #708eac;
}

/* seção de entrega */

#delivery{
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.delivery-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

button{
    background-color: #0071e3;
    color: white;
    font-size: 17.5px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #005bb5;
}

.save-later{
    display: flex;
    gap: 4px;
}

/*Imagens do Apple Watch*/

#select-image label img{
    width: 46px;
    cursor: pointer;
}

#select-image{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#select-image input[type="radio"]:checked + label img{
    border: none;
    border-bottom: solid 2px #708eac6b;
    border-radius: 0;
}

.small-box{
    transform: scale(0.9);
}